@page "/products"
@inherits Productsbase

@if(Products == null){
<p>Loading...</p>
}else{

    <h3>Products</h3>

    var productCount = Products.Count();

    if(productCount > 0){
        const int itemsPerRow = 4;
        var products = new List<ProductDto>();

            
        @for (int i=0; i < productCount; i++)
        {
            var productRowList = Products.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();
            <div class="row mt-3">
                <DisplayProducts Products="@productRowList"></DisplayProducts>
           </div>
           
        }
         
    }
}